{% extends 'base.html.twig' %}

{% block title %}PixelMakers!{% endblock %}

{% block body %}
    <section class="cd-creators-section">
        <div class="container mt-5">
            <h2 class="mb-4">Our creators</h2>
            <div class="row">
                {% for artwork in artworks | slice(0, 32) %}
                <div class="col-md-3">
                    <a href="show/{{ artwork.id }}">
                    <div class="card cd-custom-card mb-3">
                        <img src="{{ artwork.image_url }}" alt="Artwork Image">
                        <div class="overlay">
                            <h5 class="cd-h5">{{ artwork.name }}</h5>
                            <p class="cd-artist-name">{{ artwork.UserArtwork.firstname }} {{ artwork.UserArtwork.lastname }}</p>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="text-center mt-3"> <!-- Added text-center class here -->
                <button class="btn button-creators">Add more</button>
            </div>
        </div>
    </section>

    <section class="cd-trending">
        <div class="container mt-5">
            <h2 class="mb-4 pt-4">Trending NFTs</h2>
            <div class="row">
                {% for nft in nfts.collections %}
                    {% if nft.image_url is not empty %}
                        <div class="col-md-3">
                            <a href="{{ nft.opensea_url }}">
                            <div class="card cd-custom-card mb-3">
                                <img src="{{ nft.image_url }}" alt="Artwork Image">
                                <div class="overlay">
                                    <h5 class="cd-h5">{{ nft.collection }}</h5>
                                    <p class="cd-artist-name">{{ nft.name }}</p>
                                </div>
                            </div></a>
                        </div>
                    {% endif %}
            {% endfor %}
            </div>
            <div class="text-center mt-3"> <!-- Added text-center class here -->
                <button class="btn button-nfts">Add more</button>
            </div>
        </div>
    </section>


{% endblock %}
